
<% if flash[:notice] %>
  <h2><%=h flash[:notice] %></h2>
<% end %>


    <!-- <div class="transitions-enabled infinite-scroll clearfix"> -->
<div id="masonry-container">
  <div id="masonry-object">
    <% @darts.shuffle.each do |dart|%>
      <div class="masonryImage box col3">
        <a value="<%= dart.link_url %>" class="test-popup-link" href="<%=dart.image_url%>" name="<%=dart.caption%>">
          <div class="masonry-item">
            <img src="<%= dart.image_url %>" alt="a photo">
            </a>
            <div class="repin">
              <a href="/repin" class="link" id="<%=dart.id%>">Re-Dart!</a>
            </div>
             <div class="<%=dart.id%>">
             </div>
            <div id="user">Thrown By: <%= dart.user.username%></div>
          </div>

      </div>
      <!-- </div> -->
    <%end%>
  </div>
</div>






