
<% if flash[:notice] %>
  <h2><%=h flash[:notice] %></h2>
<% end %>


    <!-- <div class="transitions-enabled infinite-scroll clearfix"> -->
<div id="masonry-container">
  <div id="masonry-object">
    <% @darts.shuffle.each do |dart|%>
      <div class="masonryImage box col3">
        <a value="<%= dart.link_url %>" class="test-popup-link" href="<%=dart.image_url%>" name="<%=dart.caption%>">
          <div class="masonry-item">
            <img src="<%= dart.image_url %>" alt="a photo">
            </a>
            <% if session[:user_id] != nil%>
            <div class="repin">
              <a href="/repin" class="link" id="<%=dart.id%>"><img src="http://www.i2clipart.com/cliparts/6/8/f/a/clipart-dart-68fa.png"></a>
            </div>
            <%end%>
             <div class="<%=dart.id%>">
             </div>
            <div id="user"><img src="http://a.deviantart.net/avatars/f/a/fancy-mustache.png?15"><%= dart.user.username%><br><%=link_to dart.boards.find_by(user_id: dart.user_id).name, board_path(dart.boards.find_by(user_id: dart.user_id))%></div>

          </div>

      </div>


      <!-- </div> -->
    <%end%>
  </div>
</div>





