<h1><%= @board.name %></h1>


Create a dart
<%= form_for @dart  do |f|%>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.label :link_url %>
  <%= f.text_field :link_url %>

  <%= f.submit "Create Dart" %>
<% end %>

<% if @board.darts.length == 0 %>
  <p><%= "You currently have no darts, please add some!" %></p>

<% else %>
  <div id="masonry-container">
    <div id="masonry-object">
      <% @board.dartboards.shuffle.each do |dboard|%>
        <div class="masonryImage box col2">
          <a value="<%= dboard.dart.link_url %>" class="test-popup-link" href="<%=dboard.dart.image_url%>" name="<%=dboard.dart.caption%>">
            <div class="masonry-item">
              <img src="<%= dboard.dart.image_url %>" alt="a photo">
            </div>
          </a>
        </div>
      <%end%>
    </div>
  </div>
<% end %>

