<h1><%= @board.name %></h1>


Create a dart
<%= form_for @dart  do |f|%>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.label :link_url %>
  <%= f.text_field :link_url %>

  <%= f.submit "Create Dart" %>
<% end %>

<% if @board.darts.length == 0 %>
  <p><%= "You currently have no darts, please add some!" %></p>
<% else %>
  <% @board.dartboards.each do |dboard| %>
    <h6><%= dboard.caption %></h3>
    <a href="<%= dboard.dart.link_url %>"><img src="<%= dboard.dart.image_url %>" alt="a photo"></a>
  <% end %>
<% end %>

