<!DOCTYPE html>
<html>
<head>
  <title>Manterest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
<% if current_user %>
  <%= link_to "Logout", logout_path %>
  <%= link_to "Profile", user_path(current_user) %>
<% else %>
  <%= link_to "Login", login_path %>
  <%= link_to "Sign Up", signup_path%>
<% end %>
<%= link_to "Steaks", board_path(17)%>
<%= link_to "Cigars", board_path(18)%>
<%= link_to "Razors", board_path(19)%>
<%= link_to "Beards", board_path(16)%>
  </nav>

<%= yield %>

</body>
</html>
